#root {
	height: 100%;
	margin: 0;
	background: #000000;
}
#instructions {
	color: white;
	position: absolute;
	left: 100px;
	top: 10px;
	font-family: monospace;
	text-shadow: 1px 1px 2px black;
	user-select: none;
}
kbd {
	line-height: 28px;
	border: 1px solid #aaa;
	border-radius: 0.2em;
	box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1);
	background-color: #f9f9f9;
	background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
	color: #000;
	padding: 0.1em 0.3em;
	font-family: inherit;
	text-shadow: none;
	font-size: 0.85em;
}
